<div *ngIf="productions.length > 0">
  <div *ngFor="let production of productions">
    <div class="panel panel-default">
      <div class="panel-body">
        <a routerLink="/production/{{production.id}}">
          <span>{{production.productionType}} : {{production.productionAmount}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="add-production-button-container">
  <label>
    <input [(ngModel)]="newProductionType"/>
  </label>
  <label>
    <input [(ngModel)]="newProductionAmount" type="number"/>
  </label>
  <button class="btn btn-success"
          (click)="addProduction(newProductionType, newProductionAmount);
          newProductionAmount=0; newProductionType=''"
          [disabled]="newProductionAmount === 0 || newProductionType.trim() === ''"
  >
    Add Production
  </button>
</div>
