<h2 class="page-header">Farms:</h2>
<div *ngIf="farmList.length > 0">
   <div class="panel panel-default" *ngFor="let farm of farmList">
     <div class="panel-body">
      <a routerLink="/farm/{{farm.id}}">
        <span>{{farm.name}}</span>
      </a>
     </div>
    </div>
</div>
<div class="add-farm-button-container">
  <label>
    <input [(ngModel)]="newFarmName"/>
  </label>
  <button class="btn btn-success"
    (click)="addFarm(newFarmName); newFarmName=''" [disabled]="newFarmName.trim() === ''">
    Add Farm
  </button>
</div>

