<div *ngIf="field">
  <h3 class="page-header">Field {{field.name}}</h3>
  <div class="field-details">
    <span>Area: {{field.area}}</span>
  </div>
  <span><br><br></span>
</div>
<div>
  <h3 class="page-header"> Productions: </h3>
  <app-productions [fieldId]="field.id"></app-productions>
</div>
<div class="delete-button-container">
  <button class="btn btn-danger" (click)="deleteField()">
    Delete Field
  </button>
</div>
<div class="go-back-button-container">
  <button class="btn btn-secondary" (click)="goBack()">Go Back</button>
</div>
