<div *ngIf="fields.length > 0">
  <div *ngFor="let field of fields">
    <div class="panel panel-default">
      <div class="panel-body">
        <a routerLink="/field/{{field.id}}">
          <span>{{field.name}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="add-field-button-container">
  <label>
    <input [(ngModel)]="newFieldName"/>
  </label>
  <label>
    <input [(ngModel)]="newFieldArea" type="number"/>
  </label>
  <button class="btn btn-success"
          (click)="addField(newFieldName, newFieldArea); newFieldName=''; newFieldArea=0"
          [disabled]="newFieldArea === 0 || newFieldName.trim() === ''"
  >
    Add Field
  </button>
</div>
