<div *ngIf="fields.length > 0">
  <div *ngFor="let field of fields">
    <div class="panel panel-default">
      <div class="panel-body">
        <a routerLink="/field/{{field.id}}">
          <span>{{field.name}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
<div class="add-field-button-container">
  <label>
    <input #fieldName/>
  </label>
  <label>
    <input #fieldArea type="number"/>
  </label>
  <button class="btn btn-success"
          (click)="addField(fieldName.value, fieldArea.value); fieldName.value='';">
    Add Field
  </button>
</div>
