.page-header {
  text-align: center;
}

.panel-body {
  color: black;
  text-align: center;
  font-size: 20px;
}

.panel-body:hover {
  background: lightgrey;
}

.go-back-button-container {
  position: center;
  text-align: center;
}

.delete-button-container {
  position: center;
  text-align: center;
}

.add-farm-button-container {
  position: center;
  text-align: center;
}
